<br/>
<br/>
<div class="flex-boxes">
  <span href="javascript:void(0)" class="flex-box flex-box-big">
    <%= fa_icon "home", class: "fa-5x" %>
    <h1 style="font-size:300%" class="flex-title about">About ShelterMatch</h1>
    <h3 style="font-size:150%" class="about">We are dedicated to providing the latest information about shelters in your area.</h3>
    <p class="about">Our service syncs community centers with those in need by making shelter information readily available via our easy to read web app.</p>
  </span>
</div>
<div class="flex-boxes">
  <span href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1 class="flex-title cursive">We make things more simple</h1>
    <p class="cursive">Easily find local centers in your area by using our simple search engine</p>
  </span>
  <span href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1 class="flex-title cursive">Stay informed with up-to date data</h1>
    <p class="cursive">With our service, organizations can provide real time updates for use by the community.</p>
  </span>
</div>
<br/>
<br/>
<br/>
