<%= form_tag(shelters_path, :method => "get", id: "search-form", class: "search-bar") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Chicago" %>
  <button type = "submit">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
  </button>
<% end %>
