<button id="fsButton">Fullscreen</button>
<table id="fsContent" class="tables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Beds</th>
      <th>Fee</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Meals</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @shelters.each do |shelter| %>
      <%= render partial: "refills/shelter_rows", locals: { shelter: shelter } %>
    <% end %>
  </tbody>
</table>
