<tr>
  <td>A Safe Haven Foundation</td>
  <td>Women <br/>Children</td>
  <td>40</td>
  <td>Free</td>
  <td>All ages</td>
  <td>Female</td>
  <td>Breakfast <br/> Dinner</td>
  <td>312-123-1233</td>
  <td>123 W Fubar Ave. Chicago, Il</td>
</tr>
