<table class="tables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Beds</th>
      <th>Fee</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Meals</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "refills/shelter_rows" %>
  </tbody>
</table>
