<div class="cards">
  <div class="card">
    <div class="card-header">
      Enter an address
    </div>
    <div class="card-copy">
      <%= render partial: "refills/search_bar" %>
    </div>
  </div>
</div>
