<br/>
<br/>
<div class="flex-boxes">
  <span href="javascript:void(0)" class="flex-box flex-box">
    <%= fa_icon "home", class: "fa-5x" %>
    <h1 style="font-size:300%" class="flex-title about">Welcome to Shelterme</h1>
    <h3 style="font-size:150%" class="about">We are dedicated to providing the latest information about shelters in your area.</h3>
    <h5 style="font-size:120%" class="about">Start by entering your address below</h5>
      <%= render partial: "refills/search_bar" %>
  </span>
</div>
<br/>
<br/>
<br/>
